[project]
	description = A universal root. You mount it, and it's mostly Go source with the exception of 5 binaries. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Beletti (rhiguita)
[access "refs/for/refs/*"]
	read = group user/Beletti (rhiguita)
	push = group user/Beletti (rhiguita)
	label-Code-Review = -2..+2 group user/Beletti (rhiguita)
	label-Verified = -1..+1 group user/Beletti (rhiguita)
	rebase = group user/Beletti (rhiguita)
	removeReviewer = group user/Beletti (rhiguita)
	submit = group user/Beletti (rhiguita)
[access "refs/heads/*"]
	read = group user/Beletti (rhiguita)
	create = group user/Beletti (rhiguita)
	push = +force group user/Beletti (rhiguita)
	pushMerge = group user/Beletti (rhiguita)
[access "refs/tags/*"]
	push = +force group user/Beletti (rhiguita)
	pushTag = group user/Beletti (rhiguita)
	pushSignedTag = group user/Beletti (rhiguita)
